body{
	padding:50px;
	margin-left:225px;
    }
.container{
			width:800px;
			height:650px;
			border:6px solid blue;
			padding:0px;
			margin-top:0px;
		 }
.box{
	 padding:10px;
	 margin-top:20px;
	 margin-left:20px;
	 border:4px solid red;
	 width:300px;
	 height:300px;
     }
.about{
	    width:300px;
		height:225px;
		border:4px solid red;
		padding:10px;
		margin-left:20px;
		margin-top:20px;
		font-family:sans-sarif;
		color:green;
       }
.detail{
		width:400px;
		height:593px;
		border:4px solid red;
		margin-left:340px;
		margin-top:-550px;
		}
.detail {
			text-align:centre;
			font-family:sans-sarif;
			}
.price{
	    font-size:30px;
		font-family:italic;
		font-decoration:bold;
}
		

